/*------------------------------------------------------------------
Project:    Wolfram
Author:     Yevgeny Simzikov
URL:        http://simpleqode.com/
            https://twitter.com/YevSim
Version:    1.0
Created:        18/08/2014
Last change:    29/08/2014
-------------------------------------------------------------------*/

/*
 * Helper Classes
 */

.g-text-shadow(@text-shadow: 1px 1px 2px rgba(0,0,0,.18)) {
  text-shadow: @text-shadow;
}
.g-line-height-lg {
  line-height: 1.8;
}

/* 
 * Colors
 */

 @sun: #FCAE11;
 @confetti: #D1E751;
 @picton-blue: #4DBCE9;
 @yellow: #FFF538;
 @bittersweet: #FF6B6B;

 /*
  * Body Colors
  */

.global-color_sun {
  @global-color: @sun;
  .global-text-color {
    color: @global-color;
  }
  .scrolltop:hover {
    background-color: @global-color;
  }
}
.global-color_confetti {
  @global-color: @confetti;
  .global-text-color {
    color: @global-color;
  }
  .scrolltop:hover {
    background-color: @global-color;
  }
}
.global-color_picton-blue {
  @global-color: @picton-blue;
  .global-text-color {
    color: @global-color;
  }
  .scrolltop:hover {
    background-color: @global-color;
  }
}
.global-color_yellow {
  @global-color: @yellow;
  .global-text-color {
    color: @global-color;
  }
  .scrolltop:hover {
    background-color: @global-color;
  }
}
.global-color_bittersweet {
  @global-color: @bittersweet;
  .global-text-color {
    color: @global-color;
  }
  .scrolltop:hover {
    background-color: @global-color;
  }
}